.inset-0 {
  inset: 0 !important;
}

.dropzone {
  padding: 4rem;
  border-radius: 1rem;
  border: 3px dotted black;
  width: 100%;
  min-height: 300px;
}

.cursor-pointer {
  cursor: pointer !important;
}
.cursor-grab {
  cursor: grab !important;
}
.cursor-grabbing {
  cursor: grabbing !important;
}
.w-33 {
  width: 33% !important;
}
.w-2 {
  width: 2em !important;
}
.w-5 {
  width: 5em !important;
}
.w-8 {
  width: 8em !important;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.disc,
.circle {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  padding: 0;
  background-color: $gray-400;
}
.circle::after {
  position: absolute;
  content: " ";
  inset: 2px;
  border-radius: 1em;
  background: white;
}
.dash,
.dotted {
  display: inline-block;
  width: 0;
  margin: 0 0.4em;
  border: 2px solid $gray-400;
}
.dotted {
  border-style: dotted;
}
.over-modal {
  z-index: $zindex-modal + 1 !important;
}
.rectangle {
  height: 1em;
  width: 0.25em;
  transform: rotate(35deg);
}

.hoverable:hover {
  &:not(.disabled):not(disabled) {
    cursor: pointer;
    opacity: 0.7;
  }
}

.btn {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 1rem;

  @include media-breakpoint-down(md) {
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-padding-x: 0.35rem;
    --bs-btn-font-size: 0.85rem;
  }
}

.btn-outline-dark {
  color: var(--bs-body-color);
  border-color: var(--bs-body-color);

  &:hover {
    color: var(--bs-body-bg);
    background-color: var(--bs-body-color);
  }
}

.nav {
  .nav-item {
    .nav-link.link-dark {
      color: var(--bs-btn-hover-color) !important;
    }
  }
}

.dropdown-toggle:after {
  border: none;
  vertical-align: baseline;
  content: "";
  display: inline-block;
  width: 1em;
  height: 0.7em;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg stroke='black' fill='black' stroke-width='0' viewBox='0 0 256 256' height='0.7em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z'%3E%3C/path%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: right;
  mask-size: contain;
  flex-grow: 1;
}
