@include color-mode(dark) {
  --toolbar-bg: #{$black};
  --panels-bg: #{$gray-700};
  --panels-bg-rgb: 73, 80, 87;
  --range-in-bg: #{$gray-800};
  --range-in-body: #{$gray-800};
  --range-out-bg: #{$gray-200};
  --range-out-body: #{$gray-200};

  .form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }
}
