@use "sass:map";

$table-editable-columns-cell-hover-bg: color-mix(
  in hsl,
  var(--gl-container-highest-bg),
  var(--gl-body-color) $gl-sys-proportion-cell-hover-color-mix
);

.data-table {
  background: var(--gl-body-bg);
  border: solid 1px var(--gl-container-border-color);
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 100%;
  height: 100%;
  overflow: auto;

  &.is-resizing {
    cursor: col-resize;

    .resizer:not(.is-resizing) {
      display: none;
    }
  }

  thead {
    position: sticky;
    z-index: 2;
    top: 0;
    tr {
      display: flex;
      width: fit-content;

      th {
        display: flex;
        font-weight: $font-weight-base;
        position: relative;

        background: var(--gl-table-column-header-editable-bg);
        &.protected {
          background: var(--gl-table-column-header-non-editable-bg);
        }

        & > div.content-wrapper {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          & > * {
            flex-shrink: 0;
          }

          & > .column-title {
            flex-shrink: 1;
            flex-grow: 1;
            @extend .text-ellipsis;
          }
        }

        .resizer {
          position: absolute;
          top: 0;
          height: 100%;
          right: -1px;
          width: 5px;
          background: color-mix(
            in hsl,
            var(--gl-table-column-header-editable-bg),
            var(--gl-body-color) $gl-sys-proportion-component-hover-color-mix
          );
          cursor: col-resize;
          user-select: none;
          touch-action: none;

          &.is-resizing {
            opacity: 1;
            background: color-mix(
              in hsl,
              var(--gl-table-column-header-editable-bg),
              var(--gl-body-color) $gl-sys-proportion-component-active-color-mix
            );
          }
        }

        @media (hover: hover) {
          .resizer {
            opacity: 0;
          }

          &:hover .resizer {
            opacity: 1;
          }
        }
      }
    }
  }

  tbody {
    display: grid;
    position: relative;

    tr {
      display: flex;
      position: absolute;

      td {
        display: flex;

        padding: map.get($spacers, 1) map.get($spacers, 2);

        background: var(--gl-table-column-cell-non-editable-bg);
        &.editable {
          background: var(--gl-table-column-cell-editable-bg);

          &:hover {
            background: $table-editable-columns-cell-hover-bg;
          }
        }

        &.editable {
          padding: 0;

          .tether-target {
            width: 100%;
            padding: map.get($spacers, 1) 0;
            @extend .text-ellipsis;
          }

          .data-cell {
            width: 100%;
            padding: map.get($spacers, 1);
            @extend .text-ellipsis;
          }
        }
      }
    }
  }
}

.data-cell-edition {
  z-index: $zindex-tooltip;
}
