#data-page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .menu-bar,
  .table-top-bar {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .data-table-container {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
