.filter-item {
  position: relative;

  h2 {
    .gl-btn {
      justify-content: start;
      width: 100%;
      border: none !important;
      padding: 0 !important;
      padding-left: 1.5rem !important;
      @extend .gl-heading-2;
      .filter-chain-point {
        top: 4px;
      }
      &:disabled {
        color: var(--gl-container-color);
        border: none !important;
      }
    }
  }

  padding-bottom: 0 !important;
  @extend .gl-py-4;
  //@extend .gl-gap-2;
  &.inactive {
    @extend .gl-text-muted;
    @extend .gl-py-3;
    background-color: var(--gl-container-high-bg);
  }

  &.filter-creator {
    @extend .gl-py-3;
  }

  &.edited {
    padding-bottom: $gl-spacers-3;
  }

  .button-container {
    // we center buttons vertically on two lines of fs-5 text (filter title)
    height: calc(var(--bs-body-line-height) * #{$h5-font-size} * 2);
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    .btn-icon {
      padding: 0;
    }
  }

  // &:not(:first-child) {
  //   border-top: 1px solid var(--gl-container-border-color);
  // }

  &:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  .filter-arrow-container {
    @extend .gl-text-muted;
    position: absolute;
    left: 1rem;
    top: 0;
    transform: translate(0, -50%);

    .filter-arrow {
      background: var(--gl-container-highest-bg);
      font-size: 1.125rem;
      height: 1.125rem;
      line-height: 1rem;
      text-align: center;
    }

    .gl-btn {
      transform: scaleX(-1);
    }
  }
  .filter-chain {
    height: 100%;
    // &.last-step {
    //   height: 50%;
    // }
    position: absolute;
    left: calc(1rem / 2 + $gl-spacers-3 - 2px);
    top: 0;
    &.first-step {
      top: calc(1rem + 4px);
    }
    width: 1px;
    z-index: 0;
    border-right: 2px solid var(--gl-container-border-color);
    box-sizing: content-box;
  }

  .filter-creator {
    //margin-bottom: $gl-spacers-4;
    width: 100%;
    justify-content: start;
    align-content: center;
    z-index: 1;
    .filter-chain-point {
      //top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        line-height: 1.5 !important;
      }
    }
  }
  // &.inactive.last-step {
  //   .filter-chain {
  //     height: calc($gl-spacers-4 / 2) !important;
  //   }
  // }
  .filter-chain-point {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 0;
    border: 2px solid var(--gl-container-color);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    &.current {
      background-color: var(--gl-container-color);
      border: 2px solid var(--gl-container-color);
    }
  }
  .filter-title {
    position: relative;
    z-index: 1;
    .gl-btn {
      @extend .gl-heading-3;
      text-align: start;
      width: auto !important;
      padding: 0 !important;
      &:disabled {
        color: var(--gl-container-color);
        border: none !important;
      }
    }
  }
  .filter-title > .gl-btn,
  .filter-graph-summary,
  .filter-settings-summary,
  .filter-creator {
    padding-left: 1.5rem !important;
  }

  .filter-settings {
    background-color: var(--gl-container-highest-bg);
    z-index: 1;
  }

  .filter-footer {
    margin-left: 1.5rem;
    border-bottom: 1px solid var(--gl-container-border-color);
  }
}

.range-filter {
  margin-top: 0.8rem;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .bar {
    position: relative;
    height: 100%;
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 1px;
    }
  }

  .global,
  .filtered {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: height ease-in-out 0.2s;
  }

  .global {
    background: var(--range-in-bg);
  }
  .filtered {
    background: var(--range-out-bg);
  }
  .label {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 0.8em;

    &.inside {
      top: 0;
      color: var(--range-in-body);
    }
    &.outside {
      bottom: 100%;
      color: var(--range-out-body);
    }
  }
}
.rc-slider {
  .rc-slider-handle {
    background-color: white;
    border-color: black;
  }
}
.rc-slider-disabled {
  background-color: unset !important;
  .rc-slider-handle {
    background-color: $gray-400 !important;
  }
}
