.filter-item {
  position: relative;

  @extend .gl-py-4;
  @extend .gl-gap-2;
  &.inactive {
    @extend .gl-text-muted;
    @extend .gl-py-3;
    background-color: var(--gl-container-high-bg);
  }

  &.filter-creator {
    @extend .gl-py-3;
  }

  &.edited {
    padding-bottom: $gl-spacers-3;
  }

  .button-container {
    // we center buttons vertically on two lines of fs-5 text (filter title)
    height: calc(var(--bs-body-line-height) * #{$h5-font-size} * 2);
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    .btn-icon {
      padding: 0;
    }
  }

  &:not(:first-child) {
    border-top: 1px solid var(--gl-container-border-color);
  }

  &:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  .filter-arrow-container {
    @extend .gl-text-muted;
    position: absolute;
    left: 1rem;
    top: 0;
    transform: translate(0, -50%);

    .filter-arrow {
      background: var(--gl-container-highest-bg);
      font-size: 1.125rem;
      height: 1.125rem;
      line-height: 1rem;
      text-align: center;
    }

    .gl-btn {
      transform: scaleX(-1);
    }
  }
}

.range-filter {
  margin-top: 0.8rem;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .bar {
    position: relative;
    height: 100%;
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: 1px;
    }
  }

  .global,
  .filtered {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: height ease-in-out 0.2s;
  }

  .global {
    background: var(--range-in-bg);
  }
  .filtered {
    background: var(--range-out-bg);
  }
  .label {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 0.8em;

    &.inside {
      top: 0;
      color: var(--range-in-body);
    }
    &.outside {
      bottom: 100%;
      color: var(--range-out-body);
    }
  }
}
.rc-slider {
  .rc-slider-handle {
    background-color: white;
    border-color: black;
  }
}
.rc-slider-disabled {
  background-color: unset !important;
  .rc-slider-handle {
    background-color: $gray-400 !important;
  }
}
