//RESET
.gl-btn,
.ibtn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  color: inherit;
  font: inherit;
}

.gl-btn {
  background-color: var(--gl-contrast);
}
.gl-btn-toggle {
}
.gl-ibtn {
}
.gl-ibtn-toggle {
}

.gl-btn-outline {
  border: 1;
  background-color: transparent;
}
