//RESET
.gl-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: hidden;

  color: inherit;
  font: inherit;
}

.gl-btn {
  @extend .btn;
  color: var(--gl-sys-color-onSurface);
  background-color: var(--gl-sys-color-component-surface);
  border-radius: var(--gl-sys-radius-md);
  padding: var(--gl-sys-space-xs) var(--gl-sys-space-sm);
}

.gl-ibtn {
}
