#graph-page {
  // default background color which can be customized by user
  background-color: var(--gl-body-bg);

  .stage {
    position: absolute;
    inset: 0;
  }

  .sigma-container,
  .sigma-layers {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 0;
    margin-left: -50vw;
  }

  .react-sigma {
    z-index: -1;
  }

  .graph-layout-grid {
    z-index: -1;
  }

  .sigma-controls {
    .btn-dark {
      color: var(--bs-btn-hover-color);
      background-color: var(--bs-btn-hover-bg);
      border-color: var(--bs-btn-hover-border-color);

      &:hover {
        color: var(--bs-btn-color);
        background-color: $black;
        border-color: var(--bs-btn-border-color);
      }
    }
  }

  // z-indexing management:
  .filler {
    z-index: 110;
  }

  .stage {
    z-index: 120;
  }

  .sigma-mouse {
    z-index: 130;
  }

  .sigma-controls,
  .panel {
    z-index: 140;
  }

  .panel-selection {
    .panel-body {
      @extend .gl-p-0;
      @extend .gl-gap-0;
      height: 100%;
    }

    .selection {
      @extend .gl-p-3;

      padding-top: $gl-spacers-4;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: auto;
    }

    .selection-actions {
      @extend .gl-p-3;
      @extend .gl-gap-2;

      display: flex;
      border-top: solid 1px var(--gl-container-border-color);
    }
  }
}

:root {
  --sigma-background-color: transparent;
}
