#graph-page {
  // default background color which can be customized by user
  background-color: var(--bs-body-bg);

  .stage {
    position: absolute;
    inset: 0;
  }
  .sigma-container,
  .sigma-layers {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 0;
    margin-left: -50vw;
  }
  .react-sigma {
    z-index: -1;
  }
  .graph-layout-grid {
    z-index: -1;
  }
  .sigma-controls {
    .btn-dark {
      color: var(--bs-btn-hover-color);
      background-color: var(--bs-btn-hover-bg);
      border-color: var(--bs-btn-hover-border-color);

      &:hover {
        color: var(--bs-btn-color);
        background-color: $black;
        border-color: var(--bs-btn-border-color);
      }
    }
  }

  // z-indexing management:
  .filler {
    z-index: 110;
  }
  .stage {
    z-index: 120;
  }
  .sigma-mouse {
    z-index: 130;
  }
  .toolbar,
  .sigma-controls,
  .left-panel,
  .left-panel-wrapper,
  .right-panel-btn,
  .right-panel-wrapper {
    z-index: 140;
  }
}
