#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    & > .row {
      height: 40px;
    }
    background: $gray-100;
    flex-shrink: 0;
  }

  main {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    padding: 0;
  }
}

.panels-layout {
  $toolbar-width: 64px;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;
  overflow: hidden;

  .filler,
  .left-panel-wrapper,
  .right-panel-wrapper {
    background-color: var(--bs-body-bg);
  }

  .toolbar {
    width: $toolbar-width;
    overflow-x: hidden;
    background: var(--toolbar-bg);
    padding-right: 0;
    padding-left: 0;

    & > button {
      border: none;
      outline: none;
      border-radius: $border-radius 0 0 $border-radius;
      padding: 0.7em 0.6em 0.7em 0.2em;
      margin: 0 0 0 0.4em;
      background: none;

      &.active {
        background: var(--panels-bg) !important;
      }
    }
  }

  .left-panel-wrapper,
  .right-panel-wrapper {
    width: 0;
    overflow-x: hidden;
    transition: 0.3s width;
    background: var(--bs-body-bg);
    position: relative;
  }

  // PANEL SIZES: both wrapper and panel need the same size for animation purposes
  .left-panel-wrapper.deployed,
  .right-panel-wrapper.deployed,
  .left-panel,
  .right-panel {
    flex-shrink: 0;

    @include media-breakpoint-up(lg) {
      width: 256px;
    }
    @include media-breakpoint-down(lg) {
      width: 33vw;
    }
    @include media-breakpoint-down(md) {
      width: calc(50vw - $toolbar-width);
    }
    .right-panel-btn {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      width: calc(100vw - $toolbar-width);
      .right-panel-btn {
        display: flex;
      }
    }
  }

  .left-panel,
  .right-panel {
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    .filler-fade-out {
      height: 100px;
      width: 100%;
      background: linear-gradient(transparent, var(--panels-bg));
    }

    .btn-close-panel {
      position: absolute;
      top: 0;

      padding: 0.1rem 0.2rem;
      svg {
        width: 1.5rem !important;
        height: 1.5rem !important;
      }
    }

    padding-top: 0.5rem;

    .panel-block,
    .panel-block-grow {
      padding: 1rem;
    }
    .panel-block {
      flex-shrink: 0;
    }

    .panel-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto;
    }
    .panel-wrapper,
    .panel-block-grow {
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto;
    }
  }

  .filler {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }

  .right-panel {
    background-color: var(--bs-body-bg);
  }
  .left-panel {
    background-color: var(--bs-body-bg);
  }
}
