#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    & > .row {
      height: 40px;
    }
  }

  main {
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    padding: 0;

  }
}
