$panel-width: $gl-sys-size-container-large;

.panels-layout {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;
  overflow: hidden;

  .filler {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }

  .panel {
    @extend .gl-container-highest-bg;
    @extend .gl-border;
    display: flex;
    flex-direction: column;
    z-index: 140;
    overflow: hidden;
    flex-shrink: 0;

    .panel-wrapper {
      @extend .gl-p-0;
      @extend .gl-gap-4;
    }

    .panel-body {
      @extend .gl-p-3;
      @extend .gl-gap-4;
      margin-top: 2em;
      padding-top: 0;
    }

    .panel-body,
    .panel-wrapper {
      display: flex;
      flex-direction: column;
      width: $panel-width;
      height: 100%;
      overflow: auto;
      flex-grow: 1;
      flex-shrink: 1;

      h2,
      h3 {
        @extend .gl-m-0;
        text-transform: capitalize;
      }

      h2 + p {
        @extend.gl-m-0;
      }

      .panel-block {
        @extend .gl-gap-2;
        display: flex;
        flex-direction: column;
      }
    }
    .panel-footer {
      @extend .gl-gap-3;
      @extend .gl-p-3;
      z-index: 10;
      flex-grow: 0;
      flex-shrink: 0;
      align-items: center;
      background-color: var(--gl-container-highest-bg);
      display: flex;
      flex-direction: column;
      border-top: 1px solid var(--gl-container-border-color);
    }
  }

  .panel-expandable {
    width: 0;
    overflow-x: hidden;
    transition: 0.3s width;
    position: relative;
    border: none;

    &.deployed {
      @extend .gl-border;
      width: $panel-width;

      &.panel-left {
        border-left: 0;
      }
    }
  }
}
