@use "sass:map";

// Bootstrap variables:
$position-values: map.merge(
  $position-values,
  (
    5: 0.5em,
  )
);

// Switch customization:
$form-switch-checked-color: $form-switch-color;
$form-switch-checked-bg-image: $form-switch-bg-image;

.form-switch .form-check-input:checked {
  background-color: $input-bg;
  border-color: $input-border-color;
}

:root {
  --range-in-bg: #{$gray-400};
  --range-in-body: #{$gray-100};
  --range-out-bg: #{$gray-800};
  --range-out-body: #{$gray-800};

  --bs-code-color: $gl-ref-color-neutral-100 !important;
}
