$user-avatar-size: 2rem;

// Bootstrap variables:
$font-family-sans-serif: Poppins, Arial, Helvetica, Geneva;

$graph-caption-items-height: 55px;

// This is here so that we think of switching the primary color to black
// before hitting production:
$primary: #ff0eab;
//$primary: black;

$border-color: $gl-sys-color-border;
