// Fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

@import "./gl/variables";

// Custom bootstrap variables tuning:
@import "variables";

// Bootstrap files:
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "variables-override";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

// External libs
@import "@react-sigma/core/lib/style.css";
@import "rc-slider/assets/index.css";
@import "mfglabs_iconset.css";

@import "./gl/index";

// Application styles:
@import "base";
@import "graph-page";
@import "data";
@import "data-page";
@import "data-table";
@import "loader";
@import "user";
@import "filters";
@import "forms";
@import "slider";
@import "highlightjs";
@import "graph-caption";
@import "react-select";
@import "rc-slider";
@import "transition";
@import "panel";
@import "menu";
@import "side-menu";
@import "toasts";
@import "dark";
@import "modals";
@import "header";
