.rc-slider {
  .rc-slider-rail {
    background-color: var(--range-in-bg) !important;
  }

  .rc-slider-track {
    background-color: var(--range-out-bg) !important;
  }

  .rc-slider-dot {
    background-color: $gl-sys-color-bg;
    border-color: var(--range-in-bg) !important;
  }

  .rc-slider-dot-active {
    border-color: var(--range-out-bg) !important;
  }
}