.react-select__control {
  background-color: var(--bs-body-bg) !important;
}
.react-select__input,
.react-select__single-value {
  color: var(--bs-body-color) !important;
}
.react-select__menu-list {
  background-color: var(--bs-body-bg) !important;
}
.react-select__option {
  background-color: var(--bs-body-bg) !important;
  &:hover {
    cursor: pointer;
    background-color: var(--bs-border-color) !important;
  }
}
.react-select__option--is-selected,
.react-select__option--is-focused,
.selected {
  background-color: var(--bs-primary) !important;
  &:hover {
    cursor: pointer;
    background-color: var(--bs-primary) !important;
  }
}
.react-select__multi-value__remove {
  color: var(--bs-body-bg) !important;
}
