{
    "root": true,
    "ignorePatterns": ["**/build/*", "**/dist/*", "**/lib/*"],
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react-hooks/recommended"
    ],
    "plugins": ["react", "prettier","@typescript-eslint"],
    "rules": {
      "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
      "no-extra-boolean-cast": "off"
    }
  }
  