@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

html {
  body {
    @extend .gl-text-ui;
    font-family: "DM Sans", sans-serif;
    background-color: var(--gl-body-bg);
    color: var(--gl-body-color);

    #root {
      height: 100vh;
      display: flex;
      flex-direction: column;

      header {
        z-index: 200;

        & > .row {
          height: 40px;
        }
      }

      main {
        top: -1px;
        flex-shrink: 1;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        padding: 0;
      }

      h1 {
        @extend .gl-heading-1;
      }

      h2 {
        @extend .gl-heading-2;
      }

      h3 {
        @extend .gl-heading-3;
      }

      p,
      blockquote {
        @extend .gl-text-section;
      }

      .gl-container-bg {
        background-color: var(--gl-container-bg);
        color: var(--gl-container-color);
      }

      .gl-container-high-bg {
        @extend .gl-container-bg;
        background-color: var(--gl-container-high-bg);
      }

      .gl-container-highest-bg {
        @extend .gl-container-bg;
        background-color: var(--gl-container-highest-bg);
      }
    }
  }
}
