.gl-btn,
:not(.btn-check)+.gl-btn {
  @extend .btn;
  @extend .gl-px-2;
  @extend .gl-py-1;
  @extend .gl-text-ui;
  @extend .gl-rounded-2;
  border: 2px solid transparent;

  &:hover,
  &.gl-btn-hovered {
    background-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-body-color) 12%);
    border-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-body-color) 12%);
  }

  &:focus-visible,
  &.gl-btn-focused {
    background-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-body-color) 12%);
    border-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-body-color) 12%);
    box-shadow: 0 0 0 4px rgba(var(--gl-component-bg-rgb), 0.33);
  }

  &:active,
  &:first-child:active,
  &.gl-btn-pressed {
    background-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-body-color) 24%);
    border-color: transparent;
  }

  &:disabled {
    color: rgba(var(--gl-body-color-rgb), $gl-sys-opacity-onComponentBg-disabled);
    background-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-body-color) 16%);
    opacity: unset;
  }

  &.gl-btn-fill {
    background-color: var(--gl-component-bg);
    color: var(--gl-component-color);
    border-color: transparent;

    &:hover,
    &.gl-btn-fill-hovered {
      color: var(--gl-component-color);
      background-color: color-mix(in hsl, var(--gl-component-bg), var(--gl-component-color) 12%);
    }

    &:focus-visible,
    &.gl-btn-fill-focused {
      color: var(--gl-component-color);
      background-color: color-mix(in hsl, var(--gl-component-bg), var(--gl-component-color) 12%);
      border-color: var(--gl-component-border);
      box-shadow: 0 0 0 4px rgba(var(--gl-component-bg-rgb), 0.33);
    }

    &:active,
    &.gl-btn-fill-pressed {
      color: var(--gl-component-color);
      background-color: color-mix(in hsl, var(--gl-component-bg), var(--gl-component-color) 24%);
    }

    &:disabled {
      color: rgba(var(--gl-component-color-rgb), $gl-sys-opacity-onComponentBg-disabled);
      background-color: color-mix(in hsl, var(--gl-component-bg), var(--gl-component-color) 16%);
      opacity: unset;
    }
  }

  &.gl-btn-outline {
    border: 2px solid var(--gl-component-border);

    &:active,
    &.gl-btn-outline-pressed {
      background-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-body-color) 24%);
      border-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-component-border) 84%);
    }

    &:disabled {
      border-color: color-mix(in hsl, var(--gl-container-highest-bg), var(--gl-component-border) 50%);
    }
  }
}

.gl-btn-close {
  position: absolute;
  top: 0;
  right: 0;
}