@use "sass:color";

.gl-btn,
:not(.btn-check) + .gl-btn {
  @extend .btn;
  @extend .gl-px-2;
  @extend .gl-py-1;
  @extend .gl-text-ui;
  border-radius: $gl-sys-radius-md;
  border: 2px solid transparent;

  &:hover,
  &.gl-btn-hovered {
    background-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-onBg, 88%);
    border-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-onBg, 88%);
  }

  &:focus-visible,
  &.gl-btn-focused {
    background-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-onBg, 88%);
    border-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-onBg, 88%);
    box-shadow: 0 0 0 4px rgba($gl-sys-color-component-bg, 0.33);
  }

  &:active,
  &:first-child:active,
  &.gl-btn-pressed {
    background-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-onBg, 76%);
    border-color: transparent;
  }

  &:disabled {
    color: rgba($gl-sys-color-onBg, $gl-sys-opacity-onComponentBg-disabled);
    background-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-onBg, 84%);
    opacity: unset;
  }

  &.gl-btn-fill {
    background-color: $gl-sys-color-component-bg;
    color: $gl-sys-color-onComponentBg;
    border-color: transparent;

    &:hover,
    &.gl-btn-fill-hovered {
      color: $gl-sys-color-onComponentBg;
      background-color: color.mix($gl-sys-color-component-bg, $gl-sys-color-onComponentBg, 88%);
    }

    &:focus-visible,
    &.gl-btn-fill-focused {
      color: $gl-sys-color-onComponentBg;
      background-color: color.mix($gl-sys-color-component-bg, $gl-sys-color-onComponentBg, 88%);
      border-color: $gl-sys-color-component-border;
      box-shadow: 0 0 0 4px rgba($gl-sys-color-component-bg, 0.33);
    }

    &:active,
    &.gl-btn-fill-pressed {
      color: $gl-sys-color-onComponentBg;
      background-color: color.mix($gl-sys-color-component-bg, $gl-sys-color-onComponentBg, 76%);
    }

    &:disabled {
      color: rgba($gl-sys-color-onComponentBg, $gl-sys-opacity-onComponentBg-disabled);
      background-color: color.mix($gl-sys-color-component-bg, $gl-sys-color-onComponentBg, 84%);
      opacity: unset;
    }
  }

  &.gl-btn-outline {
    border: 2px solid $gl-sys-color-component-border;

    &:active,
    &.gl-btn-outline-pressed {
      background-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-onBg, 76%);
      border-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-component-border, 16%);
    }

    &:disabled {
      border-color: color.mix($gl-sys-color-container-bg-highest, $gl-sys-color-component-border, 50%);
    }
  }
}
