// Padding
// ------------------------------------------
@mixin padding-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      padding: $space;
    }
  }
}

@mixin padding-x-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      padding-left: $space;
      padding-right: $space;
    }
  }
}

@mixin padding-y-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      padding-top: $space;
      padding-bottom: $space;
    }
  }
}

.gl-p {
  @include padding-modifier;
}

.gl-px {
  @include padding-x-modifier;
}

.gl-py {
  @include padding-y-modifier;
}


// Margin
// ------------------------------------------
@mixin margin-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      margin: $space;
    }
  }
}

@mixin margin-x-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      margin-left: $space;
      margin-right: $space;
    }
  }
}

@mixin margin-y-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      margin-top: $space;
      margin-bottom: $space;
    }
  }
}

.gl-m {
  @include margin-modifier;
}

.gl-mx {
  @include margin-x-modifier;
}

.gl-my {
  @include margin-y-modifier;
}

// Gap
// -------------------------------------------
@mixin gap-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      gap: $space;
    }
  }
}

@mixin gap-x-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      row-gap: $space;
    }
  }
}

@mixin gap-y-modifier {
  @each $name, $space in $gl-spacers {
    &-#{$name} {
      column-gap: $space;
    }
  }
}

.gl-gap {
  @include gap-modifier;
}

.gl-gap-x {
  @include gap-x-modifier;
}

.gl-gap-y {
  @include gap-y-modifier;
}

// Rounded
// -----------------------------------------
@mixin border-radius-modifier {
  @each $name, $radius in $gl-radius {
    &-#{$name} {
      border-radius: $radius;
    }
  }
}

.gl-rounded {
  @include border-radius-modifier;
}

// Border
// -----------------------------------------
.gl-border {
  border: 1px solid var(--gl-container-border-color);
}


// Text
// -----------------------------------------
.gl-text-section {
  line-height: 1.4 !important;
}

.gl-text-ui {
  line-height: 1.1 !important;
}