//-------- Reference tokens

//---- Color
//Neutral Palette
$gl-ref-color-neutral-00: #ffffff;
$gl-ref-color-neutral-05: #fafafa;
$gl-ref-color-neutral-10: #f7f7f7;
//$gl-ref-color-neutral-20: #f1f1f1;
$gl-ref-color-neutral-30: #eaeaea;
//$gl-ref-color-neutral-40: #e3e3e3;
//$gl-ref-color-neutral-50: #d4d4d4;
$gl-ref-color-neutral-60: #a9a9a9;
$gl-ref-color-neutral-70: #696969;
//$gl-ref-color-neutral-75: #353535;
$gl-ref-color-neutral-80: #292929;
$gl-ref-color-neutral-85: #252525;
$gl-ref-color-neutral-95: #1d1d1d;

//---- Opacity
$gl-opacity-0: 0;
$gl-opacity-8: 0.08;
$gl-opacity-10: 0.1;
$gl-opacity-50: 0.5;
$gl-opacity-75: 0.75;

// Dimension
$gl-ref-dimension-base: 0.5rem;
$gl-ref-dimension-linear-0: calc($gl-ref-dimension-base * 0);
$gl-ref-dimension-linear-050: calc($gl-ref-dimension-base * 0.5);
$gl-ref-dimension-linear-100: $gl-ref-dimension-base;
$gl-ref-dimension-linear-150: calc($gl-ref-dimension-base * 1.5);
$gl-ref-dimension-linear-200: calc($gl-ref-dimension-base * 2);
$gl-ref-dimension-linear-225: calc($gl-ref-dimension-base * 2.25);
$gl-ref-dimension-linear-300: calc($gl-ref-dimension-base * 3);
$gl-ref-dimension-linear-400: calc($gl-ref-dimension-base * 4);
$gl-ref-dimension-linear-600: calc($gl-ref-dimension-base * 6);
$gl-ref-dimension-linear-800: calc($gl-ref-dimension-base * 8);
$gl-ref-dimension-linear-1600: calc($gl-ref-dimension-base * 16);
$gl-ref-dimension-linear-3200: calc($gl-ref-dimension-base * 32);

// Border Radius
$gl-ref-radius-4: 0.25rem;
$gl-ref-radius-8: 0.5rem;
$gl-ref-radius-full: 99rem;

// Background
$gl-sys-color-bg: $gl-ref-color-neutral-10;
$gl-sys-color-container-bg-high: $gl-ref-color-neutral-05;
$gl-sys-color-container-bg-highest: $gl-ref-color-neutral-00;
$gl-sys-color-border: $gl-ref-color-neutral-30;
$gl-sys-color-onBg: $gl-ref-color-neutral-80;
$gl-sys-color-onBg-muted: $gl-ref-color-neutral-70;

//Component
$gl-sys-color-component-bg: $gl-ref-color-neutral-80;
$gl-sys-color-component-border: $gl-ref-color-neutral-80;
$gl-sys-color-onComponentBg: $gl-ref-color-neutral-05;

//----Opacity
$gl-sys-opacity-state-layer-hover: $gl-opacity-8;
$gl-sys-opacity-state-layer-disabled: $gl-opacity-10;
$gl-sys-opacity-onComponentBg-disabled: $gl-opacity-75;

//----Size

//Icon
$gl-sys-size-icon-sm: $gl-ref-dimension-linear-200;
$gl-sys-size-icon-md: $gl-ref-dimension-linear-225;
$gl-sys-size-icon-lg: $gl-ref-dimension-linear-300;
$gl-sys-size-icon-xl: $gl-ref-dimension-linear-800;

//Container
$gl-sys-size-container-lg: $gl-ref-dimension-linear-3200;

//----Space
$gl-spacers: (
  0: $gl-ref-dimension-linear-0,
  1: $gl-ref-dimension-linear-050,
  2: $gl-ref-dimension-linear-100,
  3: $gl-ref-dimension-linear-200,
  4: $gl-ref-dimension-linear-400,
  5: $gl-ref-dimension-linear-800,
);

//---- Radius
$gl-radius: (
  0: 0,
  1: $gl-ref-radius-4,
  2: $gl-ref-radius-8,
  3: $gl-ref-radius-full,
);

@function hexToRGBString($hexColor) {
  @return "#{red($hexColor)},#{green($hexColor)},#{blue($hexColor)}";
}

:root {
  // HEX
  --gl-body-color: #{$gl-sys-color-onBg};
  --gl-body-bg: #{$gl-sys-color-bg};
  --gl-muted-color: #{$gl-sys-color-onBg-muted};
  --gl-muted-bg: #{$gl-sys-color-onComponentBg};
  --gl-border-color: #{$gl-sys-color-border};
  --gl-container-color: #{$gl-sys-color-onBg};
  --gl-container-bg: #{$gl-sys-color-bg};
  --gl-container-high-bg: #{$gl-sys-color-container-bg-high};
  --gl-container-highest-bg: #{$gl-sys-color-container-bg-highest};
  --gl-container-border-color: #{$gl-sys-color-onBg};
  --gl-component-color: #{$gl-sys-color-onComponentBg};
  --gl-component-bg: #{$gl-sys-color-component-bg};
  --gl-component-border: #{$gl-sys-color-component-border};
  // RGB
  --gl-body-color-rgb: #{hexToRGBString($gl-sys-color-onBg)};
  --gl-body-bg-rgb: #{hexToRGBString($gl-sys-color-bg)};
  --gl-muted-color-rgb: #{hexToRGBString($gl-sys-color-onBg-muted)};
  --gl-muted-bg-rgb: #{hexToRGBString($gl-sys-color-onComponentBg)};
  --gl-border-color-rgb: #{hexToRGBString($gl-sys-color-border)};
  --gl-container-color-rgb: #{hexToRGBString($gl-sys-color-onBg)};
  --gl-container-bg-rgb: #{hexToRGBString($gl-sys-color-bg)};
  --gl-container-high-bg-rgb: #{hexToRGBString($gl-sys-color-container-bg-high)};
  --gl-container-highest-bg-rgb: #{hexToRGBString($gl-sys-color-container-bg-highest)};
  --gl-container-border-color-rgb: #{hexToRGBString($gl-sys-color-onBg)};
  --gl-component-color-rgb: #{hexToRGBString($gl-sys-color-onComponentBg)};
  --gl-component-bg-rgb: #{hexToRGBString($gl-sys-color-component-bg)};
  --gl-component-border-rgb: #{hexToRGBString($gl-sys-color-component-border)};
}


:root[data-bs-theme="dark"] {
  // HEX
  --gl-body-color: #{$gl-ref-color-neutral-30};
  --gl-body-bg: #{$gl-ref-color-neutral-95};
  --gl-muted-color: #{$gl-sys-color-onBg-muted};
  --gl-muted-bg: #{$gl-sys-color-onComponentBg};
  --gl-border-color: #{$gl-ref-color-neutral-60};
  --gl-container-color: #{$gl-ref-color-neutral-30};
  --gl-container-bg: #{$gl-ref-color-neutral-95};
  --gl-container-high-bg: #{$gl-ref-color-neutral-80};
  --gl-container-highest-bg: #{$gl-ref-color-neutral-85};
  --gl-container-border-color: #{$gl-ref-color-neutral-60};
  --gl-component-color: #{$gl-ref-color-neutral-80};
  --gl-component-bg: #{$gl-ref-color-neutral-30};
  --gl-component-border: #{$gl-ref-color-neutral-30};

  // RGB
  --gl-body-color-rgb: #{hexToRGBString($gl-ref-color-neutral-30)};
  --gl-body-bg-rgb: #{hexToRGBString($gl-ref-color-neutral-95)};
  --gl-muted-color-rgb: #{hexToRGBString($gl-sys-color-onBg-muted)};
  --gl-muted-bg-rgb: #{hexToRGBString($gl-sys-color-onComponentBg)};
  --gl-border-color-rgb: #{hexToRGBString($gl-ref-color-neutral-60)};
  --gl-container-color-rgb: #{hexToRGBString($gl-ref-color-neutral-30)};
  --gl-container-bg-rgb: #{hexToRGBString($gl-ref-color-neutral-95)};
  --gl-container-high-bg-rgb:#{hexToRGBString($gl-ref-color-neutral-80)};
  --gl-container-highest-bg-rgb:#{hexToRGBString($gl-ref-color-neutral-85)};
  --gl-container-border-color-rgb:#{hexToRGBString($gl-ref-color-neutral-60)};
  --gl-component-color-rgb: #{hexToRGBString($gl-ref-color-neutral-80)};
  --gl-component-bg-rgb: #{hexToRGBString($gl-ref-color-neutral-30)};
  --gl-component-border-rgb: #{hexToRGBString($gl-ref-color-neutral-30)};
}