.inset-0 {
  inset: 0 !important;
}

.dropzone {
  padding: 4rem;
  border-radius: 1rem;
  border: 3px dotted black;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer !important;
}
.w-33 {
  width: 33% !important;
}
.w-2 {
  width: 2em !important;
}
.w-5 {
  width: 5em !important;
}
.w-8 {
  width: 8em !important;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
