#graph-page {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;

  .stage,
  .sigma-container {
    position: absolute;
    inset: 0;
  }

  .toolbar,
  .left-panel,
  .filler,
  .right-panel {
    z-index: 1;
    flex-shrink: 0;
  }

  .toolbar {
    overflow-x: hidden;
    background: $toolbar-bg;
    padding-right: 0;
    padding-left: 0;

    & > button {
      border: none;
      outline: none;
      border-radius: $border-radius 0 0 $border-radius;
      padding: 0.7em 1.2em 0.7em 0.8em;
      margin: 0 0 0 0.4em;
      background: none;

      &.active {
        background: $gray-200 !important;
      }
    }
  }
  .left-panel {
    background: $panels-bg;

    .filler-fade-out {
      height: 100px;
      width: 100%;
      background: linear-gradient(transparent, $panels-bg);
    }
  }

  .filler {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .left-panel,
  .right-panel {
    width: 400px;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
  }

  // z-indexing management:
  .filler {
    z-index: 110;
  }
  .stage {
    z-index: 120;
  }
  .toolbar,
  .left-panel,
  .right-panel {
    z-index: 130;
  }
}
