#graph-page {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;

  .stage,
  .sigma-container {
    position: absolute;
    inset: 0;
  }

  .toolbar,
  .left-panel,
  .filler,
  .right-panel {
    z-index: 1;
    flex-shrink: 0;
  }

  .filler {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .left-panel,
  .right-panel {
    min-width: 400px;
    padding: 1rem;
  }

  // z-indexing management:
  .filler {
    z-index: 110;
  }
  .stage {
    z-index: 120;
  }
  .toolbar,
  .left-panel,
  .right-panel {
    z-index: 130;
  }
}
