.graph-caption {
  // z-index: $zindex-caption;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  > * {
    margin-right: 1rem;
    :last-child() {
      margin-right: 0;
    }
  }

  .item-colors {
    display: flex;
    align-items: flex-start;
    min-height: $graph-caption-items-height;

    &.partition {
      flex-direction: column;
    }
    &.ranking {
      width: 250px;

      .horizontal-slider {
        margin-left: 10px;
        width: 80%;
        .thumb {
          cursor: unset;
          display: flex;
          justify-content: center;
          .label {
            margin-top: 15px;
          }

          &.rectangle {
            width: 10px;
            height: 25px;
            margin-top: -3px;
            border-radius: 0;
            .label {
              margin-top: 18px;
            }
          }
        }
        .track {
          cursor: unset;
          top: calc(50% - 5px);
          height: 10px;
        }
        .tick {
          width: 10px;
          height: 10px;
          background-color: none;
        }
      }
    }
    &.partition {
      > * {
        height: $graph-caption-items-height;
        display: flex;
        align-items: center;
        //children
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
        .disc {
          height: 20px;
          width: 20px;
        }
        .rectangle {
          height: 20px;
          width: 8px;
        }
        .label {
          margin-left: 0.5rem;
        }
      }
    }

    &.minimal.partition {
      overflow-y: scroll;
      max-height: calc($graph-caption-items-height * 2);

      > * {
        height: min-content !important;
      }
    }
  }

  .item-sizes {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    > * {
      height: $graph-caption-items-height;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
    .item-size {
      display: flex;
      flex-direction: column;
      .item-wrapper {
        //height: $graph-caption-items-height;
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        min-width: 30px;
        justify-content: center;
      }

      .dotted-circle,
      .dotted-rectangle {
        background: #cccccc66;
        border: 2px dotted black;
      }
      .dotted-circle {
        border-radius: 100%;
      }
      .dotted-rectangle {
        height: $graph-caption-items-height;

        border-top: none;
        border-bottom: none;
      }
    }
  }
}
