#graph-page {
  $toolbar-width: 64px;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
  height: 100%;
  overflow: hidden;

  // default background color which can be customized by user
  background-color: var(--bs-body-bg);

  .stage {
    position: absolute;
    inset: 0;
  }
  .sigma-container,
  .sigma-layers {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 0;
    margin-left: -50vw;
  }
  .react-sigma {
    z-index: -1;
  }
  .graph-layout-grid {
    z-index: -1;
  }

  .toolbar,
  .filler,
  .left-panel-wrapper,
  .right-panel-wrapper {
    flex-shrink: 0;
  }

  .toolbar {
    width: $toolbar-width;
    overflow-x: hidden;
    background: $toolbar-bg;
    padding-right: 0;
    padding-left: 0;

    & > button {
      border: none;
      outline: none;
      border-radius: $border-radius 0 0 $border-radius;
      padding: 0.7em 0.6em 0.7em 0.2em;
      margin: 0 0 0 0.4em;
      background: none;

      &.active {
        background: $panels-bg !important;
      }
    }
  }

  .left-panel-wrapper,
  .right-panel-wrapper {
    width: 0;
    overflow-x: hidden;
    transition: 0.3s width;
    background: $panels-bg;
    position: relative;
  }

  // PANEL SIZES: both wrapper and panel need the same size for animation purposes
  .left-panel-wrapper.deployed,
  .right-panel-wrapper.deployed,
  .left-panel,
  .right-panel {
    @include media-breakpoint-up(lg) {
      width: 350px;
    }
    @include media-breakpoint-down(lg) {
      width: 33vw;
    }
    @include media-breakpoint-down(md) {
      width: calc(50vw - $toolbar-width);
    }
    .right-panel-btn {
      display: none;
    }
    @include media-breakpoint-down(sm) {
      width: calc(100vw - $toolbar-width);
      .right-panel-btn {
        display: flex;
      }
    }
  }

  .left-panel,
  .right-panel {
    height: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    .filler-fade-out {
      height: 100px;
      width: 100%;
      background: linear-gradient(transparent, $panels-bg);
    }

    .btn-close-panel {
      position: absolute;
      top: 0;

      padding: 0.1rem 0.2rem;
      svg {
        width: 1.5rem !important;
        height: 1.5rem !important;
      }
    }

    padding-top: 0.5rem;

    .panel-block,
    .panel-block-grow {
      padding: 1rem;
    }
    .panel-block {
      flex-shrink: 0;
    }

    .panel-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto;
    }
    .panel-wrapper,
    .panel-block-grow {
      flex-grow: 1;
      flex-shrink: 1;
      overflow: auto;
    }
  }

  .left-panel {
    position: absolute;
    right: 0;
  }

  .right-panel-btn {
    border: none;
    outline: none;
    background: $toolbar-bg;
    border-radius: $border-radius 0 0 $border-radius;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    font-size: $h5-font-size;

    position: absolute;
    top: 14px;
    right: 0;
  }

  .filler {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }

  .right-panel {
    .btn-close-panel {
      left: 0;
    }
  }
  .left-panel {
    .btn-close-panel {
      right: 0;
    }
  }

  // z-indexing management:
  .filler {
    z-index: 110;
  }
  .stage {
    z-index: 120;
  }
  .sigma-mouse {
    z-index: 130;
  }
  .toolbar,
  .sigma-controls,
  .left-panel-wrapper,
  .right-panel-btn,
  .right-panel-wrapper {
    z-index: 140;
  }
}
