#app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    flex-shrink: 0;

    nav {
      li.dropdown {
        &:hover {
          ul.dropdown-menu {
            display: block;
          }
        }
      }
    }
  }
  main {
    flex-shrink: 1;
    flex-grow: 1;
  }
}
