.horizontal-slider {
  width: 100%;
  height: 18px;
  .track {
    top: 25%;
    height: 50%;
    cursor: pointer;
  }
}
.thumb {
  width: 10px;
  box-sizing: border-box;
  border: white 1px solid;
  // /!\ changing thumb size must also change minDistance setting in ReactSlider AND slider height
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.custom-color-picker {
  background-color: $body-bg;

  width: 220px;

  padding: 10px;
  border-radius: 4px;
}
