.user {
  display: inline-block;
  border: 2px solid $primary;
  @extend .rounded-circle;
  height: $user-avatar-size;
  width: $user-avatar-size;
  padding: 0;

  &.user-sm {
    height: 0.8 * $user-avatar-size;
    width: 0.8 * $user-avatar-size;
  }

  img,
  svg {
    height: 100%;
    width: 100%;
  }
}
